/*Nav and footer*/
body{
    width: 100%;
    margin: 0;
    color: #0B1942;
}
footer{
    height: 200px;
    display: flex;
}
.header{
    display: flex;
    width: 100%;
}
.header img{
    flex: 1 30%;
    background-color: #F5005B;
}
.nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 70%;
    font-size: 20px;
}
.nav a{
    flex: 1 33%;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: white;
}
.nav a:first-child{
    background-color: #00A5BF;
}
.nav a:nth-child(2){
    background-color: #00B7D3;
}
.nav a:nth-child(3){
    background-color: #00D5E7;
}
.extra_color{
    background-color: #7DDFE8;
}

/*Sections for home page(index)*/
#top{
    width: 100%;
}
.get_involved{
    padding: 0% 5%;
    font-size: 26px;
    margin: 0;
}
.h2_main{
background-color: #ffffff;
color: #0B1942;
font-size: 32px;
padding: 15px 30px;
}
.articles h2{
    color: #ffffff;
    background-color: #0B1942;
    font-size: 24px;
    padding: 15px 30px;
}
.articles p{
    font-size: 18px;
    line-height: 2;
}
#bottom{
    background-color: #0B1942;
    width: 100%;
    margin: 0;
    display: block;
    padding: 0 0 5% 0;
}
#bottom h2{
    color: white;
    font-size: 40px;
    padding: 5% 10% 0 10%;
    margin: 0;
}
#shows{
    margin: 5%;
    background-color: #E2E2E2;
    display: flex;
    padding: 5% 5%;
}
#shows img{
    max-height: 250px;
}
.Rashomon{
    margin-left: 31px;
    width: 100%;
}
.Rashomon a{
    font-size: 26px;
}
.Rashomon p{
    border-bottom: solid black;
    padding-bottom: 35px;
}
.Rashomon ul{
    list-style: circle;
    line-height: 1.5;
}
#films{
    background-color: #E2E2E2;
    margin: 5%;
    padding: 5% 0;
    font-size: 16px;
}
.show_dets{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cols{
    display: flex;
    flex-direction: column;
}
.show_dets img{
    max-height: 270px;
}
.copyright{
    width: 100%;
    height: 150px;
    background-color: #7DDFE8;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    }
/*Join page*/

@media screen and (min-width: 545px){
    .header img{
        flex: 1;
    }
    .nav{
        flex: 6;
        flex-direction: row;
    }
    .nav a{
        flex: 1;
    }
    .extra_color{
        flex: 3;
    }
    .h2_main{
        background-color: #ffffff;
        color: #0B1942;
        font-size: 36px;
        padding: 15px 30px 0px;
        margin-bottom: 0;
    }
    .articles h2{
        padding: 10px 10px;
    }
    .articles{
        flex: 1 30%;
        font-size: 20px;
        padding: 0 15px 0 0;
    }
    .get_involved{
        margin: 0% 0;
        padding: 0 0 0 5%;
        display: flex;
        justify-content: space-between;
        width: 92%;
    }
    .articles p{
        font-size: 15px;
        line-height: 1.5;
    }
    .show_dets{
        display: flex;
        justify-content: space-around;
        margin: 0 5%;
    }
    .cols{
        width: 20%;
        padding: 1%;
    }
    .copyright{
    background-color: #7DDFE8;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    flex: 4;
    width: auto;
    height: auto;
    padding-right: 5%;
    }
    /*Join page*/
}
@media screen and (min-width: 769px){
    .h2_main{
        padding: 2% 0 2% 5%;
    }
    #bottom{
        padding:0;
    }
    #bottom h2{
        padding: 2% 0% 0px 5%;
    }
    .all_pics{
        display: flex;
    }
    #shows_wrapper{
        flex: 1 45%;
        margin: 0% 0px 0% 3%;
        padding: 0;
    }
    #films{
        background-color: #E2E2E2;
        padding: 5% 0;
        font-size: 16px;
        flex: 1 45%;
        margin: 2% 5% 5% 5%;
    }
    #shows{
        background-color: #E2E2E2;
        display: flex;
        margin: 5% 0 5% 5%;    
    }
    .cols{
        width: 45%;
    }
}